{% extends "base.html" %}
{% block content %}

<section class="camera">
    <div class="row container">
        <div class="col-md-4">
            <div class="list-group">
                <p>Brand</p>
                <a href="{% url "camera" 'None' %}" class="list-group-item">All</a>
                <a href="{% url "camera" 'sony' %}" class="list-group-item">Sony</a>
                <a href="{% url "camera" 'canon' %}" class="list-group-item">Canon</a>
                <a href="{% url "camera" 'nikon' %}" class="list-group-item">Nikon</a>
                
               

                <span class="list-group-item">
                    <p>Price</p>
                    <a href="{% url "camera" 'below' %}" class="list-group-item">Below $150</a>
                    <a href="{% url "camera" 'above' %}" class="list-group-item">Above $50</a>

                </span>
            </div>
        </div>
        <div class="col">
          {% for product in products  %}
          <div class="row my-3">
            <div class="col-md-2">
            <img src="/media/{{product.image}}" class="img-fluid object-fit-cover" style="width: 6rem" alt=""/>
            </div>
        
            <div class="col-md-8">
                <h3>{{product.product_name}}</h3>
                <small class="text-success">{{product.brand}}</small>

                <p>${{product.discounted_price}}  <small class="text-decoration-line-through">${{product.selling_price}}</small>
    
                </p>
                <a href="{% url 'carts'  %}" class="btn shadow-lg btn-primary">Add to Cart</a>
                <a href="" class="btn-danger btn shadow-lg ">Buy Now</a>

            </div>
            
        </div>

        
        
        {% endfor %}
    </div>
   </div>
</section>







{% endblock content %}