{% extends "base.html" %}

{% block contact %}

<!-- contact section start -->
<div class="contact_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <h1 class="contact_taital text-center mt-3 ms-5 ">Get In Touch</h1>
            <p class="contact_text ms-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quaerat nihil perspiciatis eaque consequatur laudantium incidunt perferendis porro quidem nesciunt. </p>
         </div>
         <div class="col-md-6">
            <div class="contact_main">
               <button class="contact_btn info-outline-btn btn"><a href="#">Contact Form</a></button>
               <button class="newletter_btn"><a href="#">Newletter</a></button>
            </div>
         </div>
      </div>
   </div>
   <div class="map_main">
      <div class="map-responsive">
         <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
      </div>
   </div>
</div>
<!-- contact section end -->

{% endblock contact %}